* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --font-family: 'Montserrat',
    sans-serif;
    --color-text: #4E5150;
    --background-main: #E5E5E5;


}

html, body {
    height: auto;
    width: 80vw;
    margin: 0 auto;
    font-family: var(--font-family);
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 16px;
}

#mainProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-top: 2rem;
    
}



.image {
    width: 200px;
    height: 300px;
    text-align: center;
    color: var(--color-text);
}

.image h1 {
    font: normal 600 24px/29px var(--font-family);
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.image p {
    font: 14px/17px var(--font-family);
}

.profile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    margin: 1rem 0 1rem 0;
}


.profile div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
    background-color: var(--background-main);
    width: 100px;
    height: 67px;
    border-radius: 12px;
}

.profile div h4 {
    font: normal 600 18px/22px var(--font-family);
    color: var(--color-text);
}

.profile div p {
    font: 14px/17px var(--font-family);
    color: var(--color-text);
}


#potfolio {
    display: grid;
    max-width: 90%;
    height: auto;
    grid-template-areas: "first second second" "third third  four" "five six four" ;
    grid-gap: 1rem; 
    margin: 0 auto;
    align-items: center;
    justify-items: center;
}

.first {
    grid-area: first;
}

.second {
    grid-area: second;
}

.third {
    grid-area: third;
}

.four {
    grid-area: four;
    height: 100%;
}

.five {
    grid-area: five;
}

.six {
    grid-area: six;
}

footer {
    width: 100%;
    height: 3rem;
    text-align: center;
    margin: 2rem 0 0 0;
}